/*************************************************************************
 * This css file is for your own style.
 *************************************************************************/

#me {
  max-width: 500px;
}

.flex-item-stretch-6 {
  flex: 1 auto;
}

.max-width-600 {
  max-width: 900px;
}

@media screen and (min-width: 900px) {
  .flex-item-stretch-6 {
    flex: 5.5;
  }
}
